# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
virtualenv/
virtualenvs/
venv/
.venv/

# Vercel
.vercel/

# IDEs
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp
.vercel
